body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.canvas{
    display:flex;
    background-color:#eeeeee;
    flex-wrap: wrap;
    margin: 20px;
    border:1px solid #aaaaaa;
    gap: .5px;
    width: 60vw;
    height: 60vw;
}

#controls{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:30vw;
    padding:.5vw
}

button{
    background-color:chocolate;
    width:100%;
    text-align:center;
    height: 20%;
    border:0px;
    opacity:.9;
    transition: opacity .2s;
    border-radius:8px;
    font-size:1.5rem;
    color:white;
    font-weight: bold;
}
button:hover{
    opacity:1;
}

.sliderContainer{
    width:100%;
    display:flex;
    flex-direction:column;
}
#myRangeValue{
    padding-left:3px;
}

#myRange{
    appearance: none;
    width:100%;
    background:#aaaaaa;
    outline:none;
    opacity:0.9;
    transition: opacity .2s;
    border-radius: .6rem;
}
#myRange:hover{
    opacity:1;
}

#myRange::-webkit-slider-thumb{
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background:chocolate;
    cursor:pointer;
    border-radius:50%;
}

.rainbow{
    background-color:chocolate;
    width:100%;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color:white;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    opacity:.9;
    transition:opacity .2s;
}
.rainbow:hover{
    opacity:1;
}