body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.canvas{
    display:flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: .5px;
    width: 60vw;
    height: 60vw;
}
.canvasElement {
    gap:2px;
}
